.post {
  border-bottom: 0 !important;
  padding: 0;
}

.post-date {
  align-self: flex-end;
  color: #fff;
  flex-grow: 1;
  text-align: right;
}

.post-title {
  display: flex;
}

.post-title-header {
  flex-grow: 1;
  margin: 0 !important;
}

body {
  background: #fff !important;
  color: #000 !important;
}
