{{ define "main" }}
<div class="home">
  {{- if .Site.Params.homeText -}}
  <header class="home-header">
    <p>{{ .Site.Params.homeText | markdownify }}</p>
  </header>
  {{- end -}}

  {{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}
  {{- if eq (len .Site.Params.mainSections) 0 -}}
    {{- $pages = .Site.RegularPages -}}
  {{- end -}}

  {{- if gt (len $pages) 0 -}}
  <ul class="post-list">
    {{- range first 10 $pages -}}
    <li class="post-item">
      <div class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "January 2, 2006" }}
        </time>
        {{- if .Params.author -}}
          <span> • </span>
          <span>{{ .Params.author }}</span>
        {{- end -}}
      </div>
      <h2 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
      {{- if .Summary -}}
      <div class="post-summary">
        {{ .Summary }}
      </div>
      {{- end -}}
      <a href="{{ .Permalink }}" class="read-more">Read More →</a>
    </li>
    {{- end -}}
  </ul>
  {{- else -}}
  <p>No posts found.</p>
  {{- end -}}
</div>
{{ end }}
